@model IEnumerable<WalksUI.Models.DTO.RegionDto>

@{
    ViewData["Title"] = "所有地區";
}

<div>
    <div>
        <span class="fs-2">Regions</span>

        <div class="text-end mb-3">
            <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Regions" asp-action="Create">
                <span>新增景點</span>
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-4">ID</th>
                <th class="col-2">Code</th>
                <th class="col-2">景點名稱</th>
                <th class="col-1">更新</th>
                <th class="col-1">刪除</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var region in Model)
            {
                <tr>
                    <td>@region.Id</td>
                    <td>@region.Code</td>
                    <td>@region.Name</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-success btn-sm"
                               asp-area="" asp-controller="Regions" asp-action="Edit" asp-route-id="@region.Id">
                                <i class="bi bi-pencil-square"></i>
                                <span>更新</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-danger btn-sm"
                               asp-area="" asp-controller="Regions" asp-action="Edit" asp-route-id="@region.Id">
                                <i class="bi bi-trash3"></i>
                                <span>刪除</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>